html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(247, 206, 225);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    width: 90%;
    margin-left: 5%;
    border-radius: 5vh;
    top:0;
    height: 5vh;
    background: rgb(219, 130, 160);   
    position: fixed;
    z-index: 10;
    margin-top: 20px;
}
header .Top{
    width: 98%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
header .Top #h1{
   margin: 4px;
}
header .Top #h2{
    display:flex;
    align-items: center;
    margin: 4px;
    margin-left: auto;
}
header .Top #h2 a{
    padding: 5px;
    border-style: solid;
    border-width: 0px;
    text-decoration:none ;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header .Top #h2 #b1 {
    padding: 5px;
    border-style: solid;
    border-width: 0px;
    text-decoration:none ;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
header .Top #h2 #b2 {
    padding: 5px;
    border-style: solid;
    border-width: 0px;
    text-decoration:none ;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
header .Top #h2 img{
    height:20px;
    width:20px;
    margin-left: 70px;
    mix-blend-mode:multiply;
    mix-blend-mode:darken;
} 
header .Top #h2 a:hover{
    
    border-bottom-width: 1px;

}

.feed{
 margin-top: 20vh;
 padding-top: 10px;
 padding-bottom:10px;
    width: 50vw;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;

    
    background-color: palevioletred;
}
.feed .post{
    width: 90%;
    height: 500px;
    background-color: rgb(241, 206, 228);
    margin: 5%;
    overflow: hidden;
    position: relative;
}

.feed .post img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}
.feed .post .content{
    position: absolute;
    z-index: 4;
    margin: 10%;
    bottom: 0;
}

.console{
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-top: 10vh;
    border-radius: 3vh;
    background:rgb(236, 130, 165); 
    z-index: 1; 
}
.console .np{
        width: 10%;
        margin-left: 45%;
        margin-top: 10px;
        border-radius: 100px;
        height: 40px;
        border: 0;
}
.editor{
    position: absolute;
    width: 100%;
    height: 100%;
   top:0;
   left: 0;
   display:flex;
   justify-content: center;
   align-items: center;
    z-index: 10;

}
.editor .window{

    padding: 2%;
    width: 50%;
    background-color: rgb(236, 117, 157); 
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.editor .window .in {
    width: 90%;
    padding: 5px;
    min-height: 40px;
    display: flex;
    flex-direction: row;

    align-items: center;
}
.editor .window .in #title,#content{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    
}
.editor .window .in .immg{
   
   
}
.editor .window .in .immg .i1{
    max-width: 400px;
    overflow: hidden;
    height: 40px;
    border-radius: 10px;
}
.editor .window .in .sep{
    width: 50%; margin: 10px;
}
.editor .window .in .pv{
    max-width: 100%;
    height: 10%;
}
.editor .window .in #img{
    width: 100%;
    height: 10%;

}

.feedcontainer{
    width: 100%;
    overflow: hidden;
}
.feedcontainer .post{
    max-width: 100%;
    height: 10vh;
    overflow: hidden;
    display: flex;
    align-items: center;

    margin: 2%;
    background-color: rgb(234, 113, 154);  
    border-radius: 10px;
}
.feedcontainer .post img.img{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    margin-right: 5%;
}
.feedcontainer .post .content{
    height: 100%;
    font-size: 20px;
}
.feedcontainer .post img.edit{
    height: 50%;
    font-size: 20px;
    margin-left: auto;

    
}
.feedcontainer .post img.delet{
    height: 50%;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 5px;
    
}
.apps{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}
.Open{
    position: relative;
    top:0;
    left: 0;
    width: 60vw;
    background-color: rgb(218, 146, 196);
    border-radius: 20px;
    z-index: 5;
    overflow: hidden;
}
.Open img{
    position: relative;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.Open h1{
    width: 100%;
    text-align: center;
}
.Open .content{
    width: 90%;
    margin: 10px;
    font-size: 20px;
}
.Open .close{
    position: absolute;
    top:0;
    right: 0;
    width: 40px;
    height: 40px;

    border-radius: 0;
}

